APP_ENV=dev

# Docker user mapping
LOCAL_USER_ID=1000
LOCAL_GROUP_ID=1000

LOCAL_SSH_KEY_PATH=

# Git
GIT_NAME="Your Name"
GIT_EMAIL=you@example.com

# Sentry
SENTRY_DSN=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=changeme

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
